/* Classes used in card creation */
.card-container{
    background-color: rgb(145, 100, 63);
    width: 300px !important;
    height: 450px;
    border-radius: 20px;
    border: solid rgb(43, 27, 10) 5px;
    margin-left:20px;
    margin-bottom:40px;
    display:inline-block;
}

.card-image{
    height:100%;
    overflow: hidden;
}

.card-image-container{
    width:100%;
    height:40%;
    background-color: rgb(65, 39, 18);
    display:flex;
    justify-content: center;
}

.card-stats-container{
    height:20px;
    margin:0;
    margin-bottom:10px;
}

.card-name-container{
    height:15%;
    width:100%;
    display:flex;
    justify-content: center;
}

.full-bar{
    width:100%;
    height:100%;
    border-radius: 10px;
    background-color:rgb(26, 16, 6);
}

.value-bar{
    height:16px;
    margin-top:2px;
    border-radius: 8px;
    background-color:rgb(219, 153, 86);
}

.stats{
    height:100%;
    margin:0;
}

.stats p{
    font-size: 15px;
    font-weight: 700;
}
/* Classes used in nav styling */

header .dropdown-content{
    width:300px !important;
    background-color: rgb(66, 59, 50);
    top: 100% !important;
}

ul.dropdown-content li a {
    background-color: rgb(66, 59, 50);
    font-weight:200;
    color: white;
}

/* Classes used in form input styling */

label{
    font-size:20px !important;
}

.range-field{
    background-color:rgb(65, 39, 18);
    padding:10px;
    border-radius:10px;
    margin:0;
}

.card-button{
    height:60px;
    border-radius: 10px;
    margin: 20px 5px 0px;
}

.error-message{
    text-align: center;
    margin: 20px 0 0 0;
}

.cards-maker{
    position: relative;
    top:-20px;
    font-weight: 500;
    text-align: center;
}

/* Main decorative containers  */

.content-holder{
    background-color:rgb(236, 229, 158);
    padding-top:10px !important;
    padding-bottom:10px !important;
    border-radius: 0 0 20px 20px;
    text-align: center;
}

body {
    background-image: url("../resources/background.png");
    background-repeat: repeat;
  }

/* classes used to slightly position elements */
.sub-header{
    position: relative;
    top:3px;
}

.cancel{
    position: relative;
    top:12px;
}

.brand-logo{
    top:7px;
}

.delete-button{
    left:7px;
}
