<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" >
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <title>Top of the Trumps</title>
</head>
<body>
    <header>
        
    <!-- Dropdown Structure -->
    <ul id='dropdown' class='dropdown-content'>
        <li><a href="{{ url_for('login') }}">Log In</a></li>
        <li><a href="{{ url_for('logout') }}">Log Out</a></li>
        <li class="divider"></li>
        <li><a href="{{ url_for('profile', username=session['user']) }}">View Profile</a></li>
        <li><a href="#">Make a Card</a></li>
    </ul>
    <nav>
        <div class="nav-wrapper brown darken-1">
        <a href="{{ url_for('all_trumps_showcase') }}" class="brand-logo">Logo</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="{{ url_for('all_trumps_showcase') }}">Home</a></li>
            <li><a href="#">Showcase</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
            <!-- Dropdown Trigger -->
            <li><a class="dropdown-button" href="#" data-activates="dropdown">Profile<i class="material-icons right">account_box</i></a></li>
        </ul>
        </div>
    </nav>
    
    </header>

    {% block content %}
    {% endblock %}

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
</body>
</html>