{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col l8 offset-l2 content-holder">
            <div class="row valign-wrapper">
                <h4 class="col">{{ username.capitalize() }}'s Profile</h4> 
                <h5 class="col sub-header"> - Your Cards</h5>
                <a class="btn waves-effect waves-light green col" style="top:6px" href="{{ url_for('card_maker') }}">New Card</a>
            </div>
            {% for trump_card in cards %}
                {% if trump_card.card_maker == session["user"] %}
                    <div class = "container card-container">
                        <div class="card-name-container valign-wrapper">
                            <h3>{{trump_card.card_name}}</h3>
                        </div>
                        <div class="card-image-container">
                            <img class = "card-image" src= {{trump_card.image_url}} alt = "An image of {{trump_card.card_name}}">
                        </div> <br>
                        <div class="card-stats-container row">
                            <div class="col s5 stats valign-wrapper">
                                <p>Attack: {{trump_card.attack_stat}}</p> 
                            </div>
                            <div class="col s7">
                                <div class="full-bar"><div class="value-bar" style="width: {{trump_card.attack_stat}}%"></div></div>
                            </div>
                        </div>
                        <div class="card-stats-container row">
                            <div class="col s5 stats valign-wrapper">
                                <p>Defence: {{trump_card.defence_stat}}</p> 
                            </div>
                            <div class="col s7">
                                <div class="full-bar"><div class="value-bar" style="width: {{trump_card.defence_stat}}%"></div></div>
                            </div>
                        </div>
                        <div class="card-stats-container row">
                            <div class="col s5 stats valign-wrapper">
                                <p>Speed: {{trump_card.speed_stat}}</p> 
                            </div>
                            <div class="col s7">
                                <div class="full-bar"><div class="value-bar" style="width: {{trump_card.speed_stat}}%"></div></div>
                            </div>
                        </div>
                        <div class="card-stats-container row">
                            <div class="col s5 stats valign-wrapper">
                                <p>Charisma: {{trump_card.charisma_stat}}</p> 
                            </div>
                            <div class="col s7">
                                <div class="full-bar"><div class="value-bar" style="width: {{trump_card.charisma_stat}}%"></div></div>
                            </div>
                        </div>
                        <div class="card-stats-container row">
                            <div class="col s5 stats valign-wrapper">
                                <p>Luck: {{trump_card.luck_stat}}</p> 
                            </div>
                            <div class="col s7">
                                <div class="full-bar"><div class="value-bar" style="width: {{trump_card.luck_stat}}%"></div></div>
                            </div>
                        </div>
                        <div class="row">
                            <a class="btn-floating btn-large waves-effect waves-light green col edit-button" href="{{ url_for('edit_card', card_id=trump_card._id) }}"><i class="material-icons">border_color</i></a>
                            <a class="btn-floating btn-large waves-effect waves-light grey col offset-s7 delete-button"  href="{{ url_for('delete_card', card_id=trump_card._id) }}"><i class="material-icons">clear</i></a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}